:root{
    /* PALETA DE COLORES */
    --primary-color: #C2B280;
    --secondary-color: #F2F0E9;
    --accent-color1: #5A7A6E;
    --accent-color2: #2A6041;

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================================
                   BODY
===============================================*/

body{
    font-family: var(--body-font);
    font-size: 1.2em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* ============================================
                   HEADER
===============================================*/

header{
    margin: 0;
    width: 750px; /* Puedes quitarlo para hacerlo responsive */
}

h1{
    margin: 1rem;
    font-size: 1.5em;
    color: var(--accent-color2);
    text-align: center;
}

/* ============================================
                   FORM
===============================================*/

form{
    width: 750px;
    margin: 0;
    padding: 1rem;
    border: 2px solid var(--accent-color1);
    border-radius: 0.5rem;
    background-color: var(--accent-color1);
    display: grid;
    gap: 1rem;
}

fieldset{
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 2px solid var(--accent-color2);
    padding: 1rem;
}

/* ENCABEZADO DEL FORM*/
legend{
    padding: 0rem;
    color: var(--secondary-color);
    font-size: 1.3em;
}

/* PARTE DEL CUERPO DEL FORM*/
label, input, button, select, textarea {
    font-family: var(--body-font);
}

label{
    text-align: right;
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

/* CHECKBOX */
input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

/* GRUPOS DE FORMULARIO */
.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

button{
    margin: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
    border: none;
    border-radius: .5rem;
    padding: .75rem ;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--primary-color);
}

/* ============================================
                   NAVIGATION
===============================================*/

nav {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--accent-color1);
}
