/* 🎨 PALETA AMAZONAS */
:root{
    --primary-color: #0F3B2F;        /* Verde selva */
    --secondary-color: #1B4F72;      /* Azul río */
    --accent1-color:#FB8500;         /* Naranja energía */
    --accent2-color:#E8E4D9;         /* Arena */
    --dark-overlay: rgba(15, 59, 47, 0.70); /* verde-selva oscuro translúcido */

    --heading-font:"Oswald", sans-serif;
    --body-font:"Poppins", sans-serif;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
    background-color: white;
}

/* Centrar ancho como en el ejemplo */
header, main, footer {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */
header img{
    width: 120px;
    margin: 20px 0;
}

nav{
    margin: 16px 0;
    padding: 0;
}

nav li{
    list-style: none;
    margin-bottom: 6px;
}

nav a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

header p{
    margin: 12px 0;
}


/* HERO */
.Hero{
    position: relative;
    margin-top: 20px;
}

.Hero img{
    width: 100%;
    display: block;
}

/* Título sobre la imagen */
.Hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--heading-font);
    font-size: 2rem;
    opacity: 0.90;
}

/* Caja de texto como en el ejemplo */
.Hero article{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: var(--dark-overlay);
    color: white;
    padding: 20px;
    width: 65%;
    border-radius: 4px;
}

.Hero article img{
    width: 120px;
    float: right;
    margin-left: 12px;
    border-radius: 4px;
}

.Hero article p{
    font-size: 0.9rem;
    line-height: 1.4rem;
}


/* SECCIONES */
section {
    margin-top: 30px;
    padding-bottom: 30px;
}

section h2{
    background-color: var(--secondary-color);
    color: white;
    padding: 12px;
    text-align: center;
    font-family: var(--heading-font);
}

section p{
    padding: 16px;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--accent2-color);
    border-radius: 4px;
    margin: 12px;
}

/* FOOTER */
footer{
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

footer p{
    margin-bottom: 16px;
    color: var(--primary-color);
    font-weight: 600;
}

footer nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer img{
    width: 40px;
    height: auto;
}