body header p {
background: #333;
color: antiquewhite;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin-top: 20px;
border: 4px #333;
}

body header nav{
    background-color: rosybrown;
    margin-top: 30px auto;
    padding: 5px;
    display: block;
    width: 160px;

}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}


main h1{
    max-width: max-content;
    color: #333;

}

main p{
    background-color: antiquewhite;
    max-width: 380px;
    margin:  auto;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #adadad;
}

main img{
    width: 400px ;
    height: auto;
    margin:  auto;
    display: block;
    box-shadow: 0 -20px 100px #fff;
}   

main aside img {
    width: 200px ;
    height: auto;
    margin:  auto;
    display: block;
    box-shadow: 0 -20px 100px #fff;
    
}

main aside h2 {
    text-align: center;
}

main aside p{
    text-align: center;
    background-color: #333;
    color: antiquewhite;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;
    margin-top: 25px;
}