header p {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 0;
}


body {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

main img {
    width: 400px auto;
    height: auto;
    margin:  auto;
    display: block;
}

main h1 {
    text-align: center;
}

aside h2 {
    text-align: center;
}

footer{ 
    
}